﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Profile for: @Model.Name</title>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td>Name: </td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Age: </td>
                <td>@Model.Age</td>
            </tr>
            <tr>
                <td>Sex: </td>
                <td>@Model.Sex</td>
            </tr>
            <tr>
                <td>Nationality: </td>
                <td>@Model.Nationality</td>
            </tr>
            <tr>
                <td>Height: </td>
                <td>@Model.Height cm</td>
            </tr>
            <tr>
                <td>Weight: </td>
                <td>@Model.Weight kg</td>
            </tr>
        </tbody>
    </table>
</body>
</html>