﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "login-form", autocomplete = "off" }))
{
    <div class="inp-wrap half">
        <p>Login</p>
        @Html.TextBox("Login")
    </div>
    <br />
    <div class="inp-wrap half">
        <p>Password</p>
        @Html.Password("Password")
    </div>
    @Html.ValidationSummary()

    <input type="submit" class="submit" value="Login">

    @:or @Html.ActionLink("register", "Register")
}