﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "login-form", autocomplete = "off" }))
{
    <div class="inp-wrap half">
        <p>Choose your login</p>
        @Html.TextBox("Login")
    </div>
    <br />
    <div class="inp-wrap half">
        <p>Choose your password</p>
        @Html.Password("Password")
    </div>
    @Html.ValidationSummary()

    <input type="submit" class="submit" value="Register">
}