﻿@model CriminalsDatabase.Web.Models.SearchViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "login-form" }))
{
    <h3>Result settings</h3>
    <div class="inp-wrap half">
        <p>Email to receive results</p>
        @Html.TextBox("Email")
    </div>

    <div class="inp-wrap half">
        <p>Maximum number of enries to search</p>
        @Html.TextBox("MaxResults")
    </div>

    <h3>Criminal data to search:</h3>
    <div class="inp-wrap">
        <p>Name</p>
        @Html.TextBox("Name")
    </div>

    <div class="inp-wrap half">
        <p>Sex</p>
        @Html.DropDownList("Sex", Model.Sexes)
    </div>

    <div class="inp-wrap half">
        <p>Nationality</p>
        @Html.DropDownList("Nationality", Model.Nationalities)
    </div>
    
    <div class="inp-wrap range">
        <p>Age range</p>
        @Html.TextBox("AgeFrom") - @Html.TextBox("AgeTo") 
    </div>

    <div class="inp-wrap range">
        <p>Height range (in centimeters)</p>
        @Html.TextBox("HeightFrom") - @Html.TextBox("HeightTo")
    </div>

    <div class="inp-wrap range">
        <p>Weight range (in kilograms)</p>
        @Html.TextBox("WeightFrom") - @Html.TextBox("WeightTo")
    </div>

    @Html.ValidationSummary()

    <input type="submit" class="submit" value="Find">
}