﻿*{
	outline: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td{ 
	margin: 0;
	padding: 0;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img{ 
	border: 0; 
}

address,caption,cite,code,dfn,em,th,var{
	font-style: normal;
	font-weight: normal;
}
 
ol,ul{
	list-style: none;
}

caption,th{
	text-align: left;
}

h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-weight: normal;
}
 
q:before,q:after{
	content: '';
}

abbr,acronym{ 
	border: 0;
}

strong{
	font-weight: bold;
}

em{
	font-style: italic;
}