﻿article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    overflow-y: scroll;
}

.clear {
	clear: both;
}

* + html .clearfix {
	min-height: 1%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

* html .clearfix {
	height: 1%;
}


body {
	min-width: 1000px;
	font-family: 'pt sans', arial, sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

a {
	color: #83B100;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.relative {
	position: relative !important;
}

input, textarea {
	font-family: 'pt sans', arial, sans-serif;
}

header {
	height: 83px;
	background: White;
	margin-bottom: 40px;
    border-bottom: 1px solid #E5E5E5;
    background: #FCFCFC none repeat scroll 0% 0%;
}

h2 { 
    color: #8AB60F;
    display: inline-block;
    margin-bottom: 10px;
    margin-top:20px;
    font-size: 22px;
    line-height: 24px;
}

header .center {
	width: 1000px;
	height: 83px;
	margin: 0 auto;
	position: relative;    
}

header .logo {
	display: block;
	float: left;
	width: 195px;
    text-decoration: none;
    font-size: 28px;
	margin: 15px 0 0 0;
    height: 100px;
    line-height: 24px;
}

header .login-block {
	position: absolute;
    color: #8AB60F;
    right: 0px;
    top: 15px;
    margin-top: 8px;
    font-size: 14px;
    text-align: right;
}

.content-wrap {
    width: 1000px;
    margin: 0px auto;
}

.content {
	float: left;
	width: 1000px;
}

footer {
	min-height: 100px;
	border-top: 1px solid #cdcdcd;
	margin-top: 63px;
	position: relative;
    text-align: center;
}

footer .copy {
	font-size: 12px;
	color: #686868;
	position: absolute;
	right: 0;
    line-height: 14px;
	top: 30px;
    text-align: right;
}

.login-form input, .login-form textarea, .login-form select {
    width: 70%;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 16px;
}

.login-form p {
    margin: 0 0 5px 0;
}

.login-form .submit {
    background: #8AB60F;
    border: 0px none currentColor;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    outline: medium none currentColor;
    padding: 10px 40px;
    width:auto;
    margin-top: 10px;
}

.validation-summary-errors {
	display: block;
	font-size: 14px;
	color: #ff0000;
    margin: 7px 0;
}

.inp-wrap.half {
    width: 49%;
    display: inline-block;
}

.inp-wrap.range input {
    width: 10%;
    display: inline-block;
}

.login-form h3 {
    display: block;
    border-bottom: 1px solid #8AB60F;
    margin: 15px 0;
    font-size: 18px;
    padding-bottom: 4px;
}