﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Criminals Database</title>
    <link rel="stylesheet" href="@Url.Content("/Content/Styles/Reset.css")" />
    <link rel="stylesheet" href="@Url.Content("/Content/Styles/Site.css")" />
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <div class="center clearfix">
            <a class="logo" href="/">Criminals Database</a>            
            @if (User.Identity.IsAuthenticated)
            {
                <div class="login-block">Logged in as: @User.Identity.Name <br/>@Html.ActionLink("Log out", "LogOut")</div>
            }
        </div>        
    </header>
    <div class="content-wrap clearfix">
        <div class="content">
            @RenderBody()
            <footer>
                <div class="copy">
                    © @DateTime.Now.Year Dmitry Sosnitsky
                </div>
            </footer>
        </div>
    </div>

</body>
</html>
